.contenidoComponente{
  position: absolute;
 float: none;
 text-align: center;
 left: 15%;


}
.contenedor{
  position: absolute;
  display:block;
  background-color:#131313;
  width: 100%;
  height: 100%;


}
.contenedor ul#lista li a{
  text-decoration: none;
  color: white;
  margin: 5%;
  padding:0;
  width: 100%;
  font-family: inherit;

}
.contenedor #lista li{
  width: 95%;
  text-align: center;
  padding-top: 0
}
.contenedor #lista{
  list-style: none;
  background-color: #221F1F;
  padding: 0;
  margin:0;
  margin-top: 2em;
}
#barraLateral{
  float: left;
  display: relative;
  width: 15%;
  height: 100%;
  z-index:1;
  background-color: #221F1F;
}
@media (max-width: 900px) {
  #barraLateral{
    width: 40%;
    height: 100%;
  }
  div#curruser p {
    font-size: 1.5em;
}
}
@media (max-width: 700px) {
  #barraLateral{
    width: 40%;
    height: 100%;
  }
  div#curruser p {
    font-size: .9em;
}
}
@media (max-width: 1000px) {
  #barraLateral{
    width: 20%;
    height: 100%;
  }
  div#curruser p {
    font-size: .9em;
}

}
.contenedor .contenidoComponente img{
  width: 100%;
  padding: 2%;

}

p.navOptions {
    color: white;
    padding: 0;
    margin: 0
}

span.logoActual {
    display: inline-flex;
}
span.logoSubir {
    display: inline-flex;
}
span.logoHistorial {
    display: inline-flex;
}
span.logoAnalitics {
    display: inline-flex;
}
#lista li {
    padding-top: 5%;
    padding-bottom: 3%;
}
#lista li a:hover{
  background-color: #044A62;
}

div#logobarra {
    width: 50%;
    height: 0%;
    margin-left: 26%;
    margin-top: 5%;
}

#logobarra .text{
  position: relative;
  visibility: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  color: cadetblue;
  font-size: medium;
}

#logobarra img {
  cursor: pointer;
}

#logobarra:hover .text{
  visibility: visible;
}

div#logobarra2 {
    width: 30%;
    height: 0%;
    margin-left: 26%;
    margin-top: 15%;
}

#bienvenida p {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    color:#00A0AE;
}

p#parBienv{
  color: white;
}

#bienvenida{
  margin-top: 70%;
}

#salirPromo a{
  color: #00A0AE;
  text-decoration: underline;
}

#salirPromo a:hover{
  color: #044A62 ;
  text-decoration: underline;
  background-color: transparent;
}

.beacons:hover{
background-color: #600E02;
}
.beaconsInactivo:hover{
background-color: #2C2B2B;
}

.beacons{
  padding-bottom: 5vh;
  background-color: #D32004;
}
.beaconsInactivo{
  padding-bottom: 5vh;
  background-color: #221F1F;
}


.lugares{
  padding-bottom: 5vh;
  background-color: #D32004;
}
.lugares:hover{
  background-color: #600E02;
}

.lugaresInactivos{
  padding-bottom: 5vh;
  background-color: #221F1F;
}
.lugaresInactivos:hover{
  background-color: #2C2B2B;
}


.historicos{
  padding-bottom: 5vh;
  background-color: #D32004;
}

.historicosInactivos{
  padding-bottom: 5vh;
  background-color: #221F1F;
}

.historicos:hover{
  background-color: #600E02;
}
.historicosInactivos:hover{
  padding-bottom: 5vh;
  background-color: #2C2B2B;
}

.first{
  height: 10vh
}
.actual{
  background-color:#C70039;
}

.icono{
  left: 100px;
  text-align: center;
}


.txt2{

}

.listaLugares{
  text-align: center;
  padding-left: 60%;
  padding-top: 10%
}
.textField1{
  left: 60vh;
position:absolute;
bottom: 68vh
}
.textField2{
  left: 25vh;
position:absolute;
bottom: 58vh
}
.textField3{
left: 60vh;
position:absolute;
bottom: 63vh
}
.inputFotos{
border-bottom: 100vh;
}
